.main_link {
    color: blue;
    text-decoration: none;
}

.main_link:hover {
    color: aqua;
    text-decoration: underline;
    text-decoration-color: red;
    cursor: pointer;
} 
.main_link:visited {
    color: gray;
}
.main_link:active {
    text-decoration: line-through;
}