p {
    color: rgb(255, 0, 0);
    font: 30px/1.5 Arial, Helvetica, sans-serif ;
    text-indent: 35px;
    
}
.lists {
    color: rgb(131, 18, 175);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#header {
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    text-align: center;
}
p span {
    color: bisque;
}
h2 {
    color: chartreuse;
    font-family: 'Courier New', Courier, monospace;
    font-size: 220%;
    text-align: center;
}
.bold-text {
    font-weight: bold;
}
.italic-text {
    font-style: italic;
}
a:link {
    color: rgb(205, 125, 19);
}
a:visited {
    color: rgb(44, 165, 42);
}
a:hover {
    color: blueviolet;
}
a:active {
    color: aqua;
}